html{
  height: 100%;
}

body{
  font-family: 'caviar_dreamsregular';
  margin:0;
  height: 100%;
  
}
.page{
  height: 100%;
}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('font/caviardreams-webfont.woff2') format('woff2'),
       url('font/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
